<div>
  <stylesheet class="stylesheet">
    <header class="stylesheet_header"><h1>Deleting "<%= @stylesheet.title %>" stylesheet</h1></header>
    
    <div class="stylesheet_body">
      <p>
	Are you sure?
      </p>
    </div>
    
    <div class="form_group">
      <%= link_to 'Delete', admin_stylesheet_path(@stylesheet), method: :delete %>
    </div>
    <div class="form_group">
      <%= link_to 'Back', admin_stylesheets_path %>
      </div>

  </stylesheet>
  
</div>
      
