<%= cell(PageHeadline::Cell::Item, nil, text: "Edit stylesheet: #{@stylesheet.name}") %>

<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage stylesheets', admin_stylesheets_path %>
</div>
