<div>
  <article class="article">
    <div class="js_markdown article_body"><%= raw article.content %></div>
    <footer class="article_footer"><p><%= article.author.name %></p></footer>
  </article>

</div>
