<header class="current_page_header"><h1>Edit article</h1></header>
<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage articles', admin_articles_path %>
</div>
