<%= cell(PageHeadline::Cell::Item, nil, text: "Edit article: #{@article.title}") %>
<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage articles', admin_articles_path %>
</div>
