<div>
  <article class="article">
    <header class="article_header"><h1><%= article.title %></h1></header>
    <div class="js_markdown article_header"><%= raw article.content %></div>
    <footer class="article_footer"><p><%= article.author.name %></p></footer>
  </article>
  
</div>
      
