<%= cell(PageHeadline::Cell::Item, nil, text: "Edit author: #{@author.name}") %>
<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage authors', admin_authors_path %>
</div>
