<div>
  <article class="article">
    <div class="js_markdown article_body"><%= @author.description.html_safe %></div>

    <footer class="article_footer">
      <p><%= link_to "All articles writed by: #{@author.name}", author_articles_path(@author) %></p>
    </footer>

  </article>

</div>
