<div class="">
  <%= cell(PageHeadline::Cell::Item, nil, text: page_headline_text) %>
  <%= cell(FooterSection::Cell::Form, model, errors: errors) %>
</div>

<div class="">
  <%= link_to 'Back', admin_footer_sections_path %>
</div>
