<header class="current_page_header"><h1>Edit "<%= @category %>" category</h1></header>
<div class="">
  <%= render 'form' %>
</div>

<div class="">
  <%= link_to 'Back', admin_categories_path %>
</div>
