<header class="current_page_header"><h1>Edit footer section</h1></header>
<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage footer sections', admin_footer_sections_path %>
</div>
