.form_group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form_group__checkbox_group {
  margin-right: 10px;
}
.form_group__input--article_title {
  width: 100%;
}
.form_group__input--article_submit {
  width: 70px;
  height: 40px;
}
.form_group__input--article_content {
  width: 100%;
  height: 200px;
}
.chexbox_group--article_categories {
  display: flex;
  flex-flow: row wrap;
}
.form_group__input--author_description {
  width: 100%;
  height: 50px;
}
.chexbox_group--admin_roles {
  display: flex;
  flex-flow: column wrap;
}
.form_group__input--category_description {
  width: 100%;
  height: 40px;
}
.form_group__input--category_submit {
  width: 70px;
  height: 40px;
}
.form_group__input--category_name {
  min-width: 200px;
  max-width: 50%;
}
.form_group__input--header_section_content {
  width: 100%;
  height: 150px;
}
.form_group__input--footer_section_content {
  width: 100%;
  height: 150px;
}
.form_group__input--site_description {
  width: 100%;
  height: 50px;
}
.form_group__input--stylesheet_content {
  width: 100%;
  height: 400px;
}

.login_or_registration_help_link {
  margin: 10px 0;
  display: block;
}

.login_field {
  margin: 10px 0;
}

.login_field--email {

}

.login_field__label {

}

.login_field__label--email {

}

.login_field__input {

}

.login_field__input--email {

}

.login_field {

}

.login_field--password {

}

.login_field__label {

}

.login_field__label--password {

}

.login_field__input {

}

.login_field__input--password {

}

.login_field {

}

.login_field--remember {

}

.login_field__check_box {

}

.login_field__check_box--remember {

}

.login_field__label {

}

.login_field__label--remember {

}

.login_field {

}

.login_field--submit {

}

.login_field__input {

}

.login_field__input--submit {

}
