<div>
  <article class="article">
    <header class="article_header"><h1>Deleting header section</h1></header>
    
    <div class="article_body">
      <p>
	Are you sure?
      </p>
      <p>
	Are you sure? The content of deleting section is:
      </p>
      <pre><code>
<%= @header_section.convert_content_to_markdown %> 	  
      </code></pre>
	
    </div>
    
    <div class="form_group">
      <%= link_to 'Delete', admin_header_section_path(@header_section), method: :delete %>
    </div>
    <div class="form_group">
      <%= link_to 'Back', admin_header_sections_path %>
      </div>

  </article>
  
</div>
      
