<%= cell(PageHeadline::Cell::Item, nil, text: "Edit header section: #{@header_section.position}") %>

<div>
  <%= render 'form' %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage header sections', admin_header_sections_path %>
</div>
